@charset "UTF-8";

/* ------------------------------
- reset
------------------------------ */
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
  background: transparent;
  line-height: 1;
  box-sizing: border-box;
}

html {
  font-size: 14px;
}

body {
  background-color: #fff;
  color: #333;
  width: 100%;
  font-family: YuGothic, "Yu Gothic", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", sans-serif;
  overflow-x: hidden;
}

main {
  display: block;
}

li {
  list-style-type: none;
}

a {
  color: #333;
  display: inline-block;
  text-decoration: none;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

*::before,
*::after {
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

h1,
h2,
h3,
h4,
h5,
h6,
a,
li,
a span {
  line-height: 1.5;
}

p,
p a,
p span {
  line-height: 1.7;
}

sup {
  font-size: 0.5em;
  vertical-align: super;
}

input,
button,
textarea,
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type="checkbox"],
input[type="radio"] {
  display: none;
}

input:focus,
textarea:focus,
select:focus {
  outline: 0;
}

select::-ms-expand {
  display: none;
}

input::placeholder,
textarea::placeholder {
  color: #e6e6e6;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #e6e6e6;
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: #e6e6e6;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

@media only screen and (min-width: 750px) {
  .php {
    font-size: 14px;
  }
}

/* ------------------------------
- body
------------------------------ */
body {
  overflow-x: hidden;
}

/* ------------------------------
- utility
------------------------------ */
.visible-lg,
.visible-md {
  display: none;
}

.visible-sm {
  display: inherit;
}

@media only screen and (min-width: 750px) {

  .visible-sm,
  .visible-lg {
    display: none;
  }

  .visible-md {
    display: inherit;
  }
}

@media only screen and (min-width: 1000px) {

  .visible-sm,
  .visible-md {
    display: none;
  }

  .visible-lg {
    display: inherit;
  }
}

/* ------------------------------
- layout
------------------------------ */
.l-content-lg,
.l-content-md,
.l-content-sm {
  padding: 0 10px;
}

@media only screen and (min-width: 750px) {

  .l-content-lg,
  .l-content-md,
  .l-content-sm {
    width: 90%;
    max-width: 780px;
    padding: 0;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1000px) {
  .l-content-lg {
    max-width: 1288px;
  }

  .l-content-md {
    max-width: 1100px;
  }

  .l-content-sm {
    max-width: 940px;
  }
}

/* ------------------------------
- ff
------------------------------ */
.ff-quicksand {
  font-family: 'Quicksand', sans-serif;
}

/* ------------------------------
- bg
------------------------------ */
.bg-gray {
  background: #f7f7f7;
}

/* ------------------------------
- slide
------------------------------ */
.msg-slide {
  position: fixed;
  top: 0;
  width: 100%;
  height: 40px;
  background: rgba(122, 206, 230, 0.6);
  text-align: center;
  font-size: 16px;
  line-height: 40px;
}

/* ------------------------------
- header
------------------------------ */
header {
  width: 100%;
  height: 80px;
  background: -moz-linear-gradient(left, #f6d365, #fda085);
  background: -webkit-linear-gradient(left, #f6d365, #fda085);
  background: linear-gradient(to right, #f6d365, #fda085);
}

header .header_inner {
  display: flex;
  height: 80px;
}

header h1.heading {
  font-size: 30px;
  font-weight: bold;
  color: #ffffff;
  margin: auto;
}

nav {
  display: block;
  position: fixed;
  top: 0;
  right: -300px;
  bottom: 0;
  background: #ffffff;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  transition: all .5s;
  z-index: 3;
  opacity: 0;
  width: 40%;
}

nav .inner {
  padding: 80px 30px 40px;
}

nav .inner .nav_item {
  position: relative;
  margin: 0;
  border-bottom: 1px solid #333;
}

nav .inner .nav_item a {
  display: block;
  color: #333333;
  font-size: 14px;
  padding: 1em;
  text-decoration: none;
  transition-duration: 0.2s;
}

nav .inner .nav_item a:hover {
  background: #e4e4e4;
}

@media screen and (max-width: 767px) {
  nav {
    right: -220px;
    width: 220px;
  }
}

.open nav {
  right: 0;
  opacity: 1;
}

header .ham {
  display: block;
  position: absolute;
  top: 26px;
  right: 30px;
  width: 30px;
  height: 30px;
  transition: all .5s;
  cursor: pointer;
  z-index: 6;
}

header .ham span {
  display: block;
  position: absolute;
  left: 0;
  width: 30px;
  height: 2px;
  background-color: #fff;
  border-radius: 4px;
  transition: all .5s;
}

header .ham span:nth-child(1) {
  top: 4px;
}

header .ham span:nth-child(2) {
  top: 14px;
}

header .ham span:nth-child(3) {
  bottom: 4px;
}

header .open .ham span {
  background-color: #333;
}

header .open .ham span:nth-child(1) {
  -webkit-transform: translateY(10px) rotate(-315deg);
  transform: translateY(10px) rotate(-315deg);
}

header .open .ham span:nth-child(2) {
  opacity: 0;
}

header .open .ham span:nth-child(3) {
  -webkit-transform: translateY(-10px) rotate(315deg);
  transform: translateY(-10px) rotate(315deg);
}

.ham_mask {
  display: none;
  transition: all .5s;
}

.open .ham_mask {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000000;
  opacity: .8;
  z-index: 2;
  cursor: pointer;
}

/* ------------------------------
- footer
------------------------------ */
footer {
  padding: 8px;
  text-align: center;
  color: #fda085;
  background: -webkit-linear-gradient(0deg, #f6d365, #fda085);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.user_register {
  padding: 40px 0;
}

.user_register .form_heading {
  text-align: center;
  margin-bottom: 24px;
}

.user_register .form_sub_heading {
  text-align: center;
  margin-bottom: 24px;
}

.user_register .form_container {
  max-width: 80%;
  margin: 0 auto;
  overflow: hidden;
}

.user_register .form_item+.form_item {
  margin-top: 24px;
}

.user_register .btn-container {
  margin-top: 24px;
}

.user_register .btn-widthdraw {
  text-align: center;
}

.user_register form label {
  display: block;
  font-size: 12px;
}

.user_register form input[type="email"],
.user_register form input[type="text"],
.user_register form input[type="password"] {
  width: 100%;
  padding: 1em 0 12px;
  padding-left: 0;
  background: none;
  color: #333;
  font-size: 1.2em;
  font-weight: 400;
  border: none;
  border-bottom: 1px solid #999;
}

.user_register form input[type="email"]:focus+.separator,
.user_register form input[type="text"]:focus+.separator,
.user_register form input[type="password"]:focus+.separator {
  transform: scaleX(1) translateY(-2px);
  opacity: 1;
}

.user_register form input[type="submit"] {
  color: white;
  background: #ff7761;
  padding: 1em 1.4em;
  font-size: 1.2em;
  border: none;
  border-radius: 10px;
  transition: all .3s ease-in-out;
}

.user_register form input[type="submit"]:hover {
  opacity: .7;
}

.user_register form .checkbox {
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  padding: 5px 30px;
  position: relative;
  width: auto;
}

.user_register form .checkbox::before {
  background: #fff;
  border: 1px solid #666;
  content: '';
  display: block;
  height: 16px;
  left: 5px;
  margin-top: -8px;
  position: absolute;
  top: 50%;
  width: 16px;
}

.user_register form .checkbox::after {
  border-right: 3px solid #ff7761;
  border-bottom: 3px solid #ff7761;
  content: '';
  display: block;
  height: 9px;
  left: 10px;
  margin-top: -7px;
  opacity: 0;
  position: absolute;
  top: 50%;
  transform: rotate(45deg);
  width: 5px;
}

.user_register form input[type=checkbox]:checked+.checkbox::after {
  opacity: 1;
}

.user_register .separator {
  height: 2px;
  width: 100%;
  background: -moz-linear-gradient(left, #f6d365, #fda085);
  background: -webkit-linear-gradient(left, #f6d365, #fda085);
  background: linear-gradient(to right, #f6d365, #fda085);
  display: block;
  transform: scaleX(0) translateY(-2px);
  transform-origin: 50%;
  opacity: 0;
  transition: all 0.15s linear;
}

.user_register .pass_remind_text,
.user_register .mypage_text {
  margin-top: 24px;
  text-align: right;
}

.user_register .pass_remind_text a,
.user_register .mypage_text a {
  color: #71bbd6;
  text-decoration: underline;
}

.user_register .back_link {
  margin-top: 24px;
}

.user_register .back_link a {
  color: #71bbd6;
}

@media screen and (min-width: 750px) {
  .user_register {
    padding: 80px 0;
  }

  .user_register .form_container {
    max-width: 50%;
  }

  .user_register .form_heading {
    margin-bottom: 32px;
  }
}

/* ------------------------------
- article 関連CSS
------------------------------ */
.main_contents .main_contents_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  padding: 40px 10px;
}

.main_contents .main_column {
  margin-top: 24px;
  width: 100%;
}

.main_contents .main_column .main_list {
  display: flex;
  flex-wrap: wrap;
}

.main_contents .main_column .main_list_item {
  width: 48%;
  margin-right: 3%;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.18);
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  position: relative;
}

.main_contents .main_column .main_list_item a {
  width: 100%;
}

.main_contents .main_column .main_list_item:nth-child(2n) {
  margin-right: 0;
}

.main_contents .main_column .main_list_item:nth-child(n+3) {
  margin-top: 24px;
}

.main_contents .main_column .main_list_item .tag {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  padding: 8px 16px;
  color: #ffffff;
}

.main_contents .main_column .main_list_item .tag.decision {
  background: #F06292;
}

.main_contents .main_column .main_list_item .tag.recruiting {
  background: #4DB6AC;
}

.main_contents .main_column .main_list_item .tag.finish {
  background: #B0BEC5;
}

.main_contents .main_column .main_list_item .list_heading {
  font-size: 14px;
  margin-bottom: 8px;
}

.main_contents .main_column .main_list_item .item_text {
  font-size: 12px;
  padding: 16px;
}

.main_contents .side_column {
  width: 100%;
  background: #f9f9f9;
  padding: 24px;
}

.main_contents .side_column .side_search_box+.side_search_box {
  margin-top: 16px;
}

.main_contents .side_column .heading {
  font-size: 14px;
  text-align: center;
}

.main_contents .side_column .side_search_text {
  font-size: 13px;
  margin-bottom: 4px;
}

.main_contents .side_column .main_select {
  background: #ffffff;
  position: relative;
}

.main_contents .side_column .main_select::after {
  font-family: "Font Awesome 5 Free";
  content: '\f078';
  font-weight: 900;
  display: block;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.main_contents .side_column .main_select select {
  padding: 16px 8px;
  width: 100%;
}


.main_contents .side_column input[type="submit"]{
  color: white;
  background: #ff7761;
  padding: 1em 1.4em;
  font-size: 1.2em;
  border: none;
  border-radius: 10px;
  transition: all .3s ease-in-out;
  width: 100%;
  margin-top: 16px;
}


.main_contents .side_column input[type="submit"]:hover{
  opacity: 0.7;
}

@media screen and (min-width: 1000px) {
  .main_contents .main_contents_inner {
    justify-content: space-between;
    flex-direction: row-reverse;
    padding: 80px 0;
  }

  .main_contents .main_column {
    width: 77%;
    margin-top: 0;
  }

  .main_contents .main_column .main_list_item {
    width: 30%;
    margin-right: 2%;
  }

  .main_contents .main_column .main_list_item:hover {
    transform: translateY(-0.5em);
  }

  .main_contents .main_column .main_list_item:nth-child(2n) {
    margin-right: 2%;
  }

  .main_contents .main_column .main_list_item:nth-child(n+3) {
    margin-top: 0;
  }

  .main_contents .main_column .main_list_item:nth-child(3n) {
    margin-right: 0;
  }

  .main_contents .main_column .main_list_item:nth-child(n+4) {
    margin-top: 24px;
  }

  .main_contents .side_column {
    width: 24%;
    margin-right: 3%;
  }
}

.pagination {
  position: relative;
  overflow: hidden;
  margin-top: 20px;
}

.pagination-list {
  position: relative;
  left: 50%;
  float: left;
  padding-left: 0;
  list-style: none;
}

.pagination .list-item {
  position: relative;
  left: -50%;
  float: left;
  margin-right: 5px;
}

.pagination .list-item a {
  display: block;
  padding: 5px 10px;
  background: #eee;
  color: #fda085;
  border: #fda085;
  text-decoration: none;
}

.pagination .list-item:last-child {
  margin-right: 0;
}

.pagination .list-item.active a {
  background: #333;
  color: white;
  background: -moz-linear-gradient(left, #f6d365, #fda085);
  background: -webkit-linear-gradient(left, #f6d365, #fda085);
  background: linear-gradient(to right, #f6d365, #fda085);
}

.petDetail_contents .petDetail_contents_inner {
  padding: 40px 10px;
}

.petDetail_contents .photo_container {
  margin-bottom: 16px;
}

.petDetail_contents .photo_container .main_img {
  margin-bottom: 8px;
}

.petDetail_contents .photo_container .sub_img {
  display: flex;
  justify-content: space-between;
}

.petDetail_contents .photo_container .sub_img .img {
  width: 32%;
}

.petDetail_contents .photo_container .sub_img .img:nth-child(3) {
  margin-right: 0;
}

.petDetail_contents .title {
  margin-bottom: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.petDetail_contents .title .tag {
  padding: 8px 16px;
  color: #ffffff;
  max-width: 50%;
  text-align: center;
  margin-bottom: 8px;
}

.petDetail_contents .title .tag.decision {
  background: #F06292;
}

.petDetail_contents .title .tag.recruiting {
  background: #4DB6AC;
}

.petDetail_contents .title .tag.finish {
  background: #B0BEC5;
}

.petDetail_contents .heading {
  margin-bottom: 16px;
}

.petDetail_contents .js-click-like{
  color: #b0bec5;
}

.fa-heart:before{
  font-size: 30px;
  margin-left: 8px;
}

.petDetail_contents .js-click-like.active{
  color: #F06292;
}


.petDetail_contents .comments {
  margin-bottom: 16px;
}

.petDetail_contents .comments .comments_heading {
  border-left: 2px solid #F06292;
  padding-left: 4px;
  margin-bottom: 16px;
}

.petDetail_contents .entry_area {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
  text-align: center;
}

.petDetail_contents .entry_area .back_link a {
  color: #71bbd6;
  text-decoration: underline;
}

.petDetail_contents .entry_area .enty_btn {
  text-align: center;
  margin-bottom: 8px;
}

.petDetail_contents .entry_area .enty_btn input[type="submit"] {
  width: 90%;
  color: white;
  background: #ff7761;
  padding: 1em 1.4em;
  font-size: 1.2em;
  border: none;
  border-radius: 10px;
  transition: all .3s ease-in-out;
}

.petDetail_contents .entry_area .enty_btn input[type="submit"]:hover {
  opacity: .7;
}

@media screen and (min-width: 750px) {
  .petDetail_contents .photo_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .petDetail_contents .photo_container .main_img {
    width: 70%;
    margin-bottom: 0;
  }

  .petDetail_contents .photo_container .sub_img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 27%;
    background: #f9f9f9;
    padding: 24px 0;
  }

  .petDetail_contents .photo_container .sub_img .img {
    width: 70%;
  }

  .petDetail_contents .photo_container .sub_img .img+.img {
    margin-top: 20px;
  }

  .petDetail_contents .title {
  }

  .petDetail_contents .heading {
    margin-bottom: 16px;
  }

  .fa-heart:before{
    margin-left: 16px;
  }

  .petDetail_contents .comments {
    margin-bottom: 24px;
  }

  .petDetail_contents .entry_area .enty_btn input[type="submit"] {
    width: 240px;
  }

  .petDetail_contents .entry_area .back_link {
    margin-top: 16px;
    text-align: left;
  }
}

/* ------------------------------
- プロフィール 関連CSS
------------------------------ */
.profEdit_contents {
  margin: 40px 0;
}

.profEdit_contents .main_heading {
  text-align: center;
  font-size: 20px;
  margin-bottom: 24px;
}

.profEdit_contents .main_column {
  width: 100%;
}

.profEdit_contents .input_item_block label {
  font-size: 12px;
}

.profEdit_contents .input_item_block+.input_item_block {
  padding-top: 24px;
}

.profEdit_contents .input_item_block input[type="text"],
.profEdit_contents .input_item_block input[type="tel"],
.profEdit_contents .input_item_block input[type="number"],
.profEdit_contents .input_item_block input[type="email"],
.profEdit_contents .input_item_block select {
  display: block;
  box-sizing: border-box;
  margin-top: 8px;
  margin-bottom: 15px;
  padding: 10px;
  width: 100%;
  height: 40px;
  border: 1px solid #f6f5f5;
  font-size: 16px;
  border-radius: 5px;
}

.profEdit_contents .input_item_block .area_drop {
  margin-top: 8px;
  position: relative;
  width: 100%;
  height: 140px;
  text-align: center;
  line-height: 150px;
  background: #f9f9f9;
}

.profEdit_contents .input_item_block input[type="file"] {
  opacity: 0;
  width: 100%;
  height: 140px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

.profEdit_contents .side_column {
  width: 100%;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: center;
}

.profEdit_contents .side_column a {
  width: 50%;
  text-decoration: underline;
}

.profEdit_contents .side_column a:nth-child(n+3) {
  margin-top: 8px;
}

.profEdit_contents .btn_container {
  padding-top: 24px;
}

.profEdit_contents .btn_container input[type="submit"] {
  color: white;
  background: #ff7761;
  padding: 1em 1.4em;
  font-size: 1.2em;
  border: none;
  border-radius: 10px;
  transition: all .3s ease-in-out;
}

.profEdit_contents .btn_container input[type="submit"]:hover {
  opacity: .7;
}

@media screen and (min-width: 750px) {
  .profEdit_contents .main_heading {
    margin-bottom: 32px;
  }

  .profEdit_contents .profEdit_contents_inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .profEdit_contents .main_column {
    width: 75%;
  }

  .profEdit_contents .side_column {
    margin-top: 0;
    display: block;
    text-align: left;
    width: 22%;
    padding: 24px;
    background: #f9f9f9;
    border-radius: 5px;
  }

  .profEdit_contents .side_column a {
    width: 100%;
    display: block;
    text-decoration: underline;
  }

  .profEdit_contents .side_column a:hover {
    opacity: 0.7;
  }

  .profEdit_contents .side_column a+a {
    margin-top: 8px;
  }

  .profEdit_contents input[type="text"],
  .profEdit_contents input[type="tel"],
  .profEdit_contents input[type="number"],
  .profEdit_contents input[type="email"],
  .profEdit_contents select {
    height: 60px;
  }
}

/* ------------------------------
- プロフィール 関連CSS
------------------------------ */
.registPet_contents {
  margin: 40px 0;
}

.registPet_contents .main_heading {
  text-align: center;
  font-size: 20px;
  margin-bottom: 24px;
}

.registPet_contents .main_column {
  width: 100%;
}

.registPet_contents .input_item_block {
  position: relative;
}

.registPet_contents .input_item_block label {
  font-size: 12px;
}

.registPet_contents .input_item_block+.input_item_block {
  padding-top: 24px;
}

.registPet_contents .input_item_block input[type="text"],
.registPet_contents .input_item_block input[type="tel"],
.registPet_contents .input_item_block input[type="number"],
.registPet_contents .input_item_block input[type="email"],
.registPet_contents .input_item_block select {
  display: block;
  box-sizing: border-box;
  margin-top: 8px;
  margin-bottom: 15px;
  padding: 10px;
  width: 100%;
  height: 40px;
  border: 1px solid #717171;
  font-size: 16px;
  border-radius: 5px;
}

.registPet_contents .input_item_block textarea {
  display: block;
  box-sizing: border-box;
  margin-top: 8px;
  margin-bottom: 16px;
  padding: 10px;
  width: 100%;
  height: 160px;
  border: 1px solid #717171;
  font-size: 16px;
  border-radius: 5px;
}

.registPet_contents .input_item_block .input_item_block_select {
  position: relative;
}

.registPet_contents .input_item_block .input_item_block_select::after {
  font-family: "Font Awesome 5 Free";
  content: '\f078';
  font-weight: 900;
  display: block;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.registPet_contents .input_item_block .imgDrop-container {
  overflow: hidden;
}

.registPet_contents .input_item_block .area_drop {
  margin-top: 8px;
  margin-bottom: 16px;
  width: 100%;
  height: 140px;
  background: #f9f9f9;
  color: #ccc;
  text-align: center;
  line-height: 150px;
  position: relative;
  box-sizing: border-box;
  display: block;
}

.registPet_contents .input_item_block input[type="file"] {
  opacity: 0;
  width: 100%;
  height: 140px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  border-radius: 5px;
}

.registPet_contents .side_column {
  width: 100%;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: center;
}

.registPet_contents .side_column a {
  width: 50%;
  text-decoration: underline;
}

.registPet_contents .side_column a:nth-child(n+3) {
  margin-top: 8px;
}

.registPet_contents .btn_container {
  padding-top: 24px;
}

.registPet_contents .btn_container input[type="submit"] {
  color: white;
  background: #ff7761;
  padding: 1em 1.4em;
  font-size: 1.2em;
  border: none;
  border-radius: 10px;
  transition: all .3s ease-in-out;
}

.registPet_contents .btn_container input[type="submit"]:hover {
  opacity: .7;
}

@media screen and (min-width: 750px) {
  .registPet_contents .main_heading {
    margin-bottom: 32px;
  }

  .registPet_contents .profEdit_contents_inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .registPet_contents .main_column {
    width: 75%;
  }

  .registPet_contents .side_column {
    margin-top: 0;
    display: block;
    text-align: left;
    width: 22%;
    padding: 24px;
    background: #f9f9f9;
    border-radius: 5px;
  }

  .registPet_contents .side_column a {
    width: 100%;
    display: block;
    text-decoration: underline;
  }

  .registPet_contents .side_column a:hover {
    opacity: 0.7;
  }

  .registPet_contents .side_column a+a {
    margin-top: 8px;
  }

  .block_row{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .block_row .imgDrop_block{
    width: 32%;
  }

  .registPet_contents input[type="text"],
  .registPet_contents input[type="tel"],
  .registPet_contents input[type="number"],
  .registPet_contents input[type="email"],
  .registPet_contents select {
    height: 60px;
  }
}

/* ------------------------------
- マイページ 関連CSS
------------------------------ */
.myPage_contents {
  margin: 40px 0;
}

.myPage_contents .main_heading {
  text-align: center;
  font-size: 20px;
  margin-bottom: 24px;
}

.myPage_contents .block_head {
  margin-bottom: 24px;
}

.myPage_contents .block_head .heading {
  padding: .25em 0 .25em .75em;
  border-left: 6px solid #f2a49b;
}

.myPage_contents .main_column {
  width: 100%;
}

.myPage_contents .main_column .mypage_block+.mypage_block {
  margin-top: 32px;
}

.myPage_contents .main_column .block_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.myPage_contents .main_column .block_item {
  width: 48%;
  margin-right: 3%;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.18);
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  position: relative;
}

.myPage_contents .main_column .block_item a {
  width: 100%;
}

.myPage_contents .main_column .block_item:nth-child(2n) {
  margin-right: 0;
}

.myPage_contents .main_column .block_item:nth-child(n+3) {
  margin-top: 24px;
}

.myPage_contents .main_column .block_item .tag {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  padding: 8px 16px;
  color: #ffffff;
}

.myPage_contents .main_column .block_item .tag.decision {
  background: #F06292;
}

.myPage_contents .main_column .block_item .tag.recruiting {
  background: #4DB6AC;
}

.myPage_contents .main_column .block_item .tag.finish {
  background: #B0BEC5;
}

.myPage_contents .main_column .block_item .list_heading {
  font-size: 14px;
  margin-bottom: 8px;
}

.myPage_contents .main_column .block_item .item_text {
  font-size: 12px;
  padding: 16px;
}

.myPage_contents .main_column .table {
  border-collapse: separate;
  border-spacing: 0 5px;
}

.myPage_contents .main_column .table .head_table {
  text-align: left;
  margin-bottom: 8px;
}

.myPage_contents .main_column .table .head_msg {
  width: 50%;
}

.myPage_contents .main_column .table td {
  font-size: 11px;
  vertical-align: middle;
}

.myPage_contents .side_column {
  width: 100%;
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: center;
}

.myPage_contents .side_column a {
  width: 50%;
  text-decoration: underline;
}

.myPage_contents .side_column a:nth-child(n+3) {
  margin-top: 8px;
}

@media screen and (min-width: 750px) {
  .myPage_contents {
    margin: 40px 0;
  }

  .myPage_contents .main_heading {
    margin-bottom: 32px;
  }

  .myPage_contents .myPage_contents_inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .myPage_contents .main_column {
    width: 75%;
  }

  .myPage_contents .main_column .mypage_block+.mypage_block {
    margin-top: 24px;
  }

  .myPage_contents .main_column .block_item {
    width: 22%;
    margin-right: 2%;
  }

  .myPage_contents .main_column .block_item:nth-child(2n) {
    margin-right: 2%;
  }

  .myPage_contents .main_column .block_item:nth-child(4n) {
    margin-right: 0;
  }

  .myPage_contents .main_column .block_item:nth-child(n+3) {
    margin-top: 0;
  }

  .myPage_contents .main_column .table .head_table {
    text-align: left;
  }

  .myPage_contents .main_column .table .head_msg {
    width: 70%;
  }

  .myPage_contents .main_column .table td {
    font-size: 14px;
    vertical-align: middle;
  }

  .myPage_contents .side_column {
    margin-top: 0;
    display: block;
    text-align: left;
    width: 22%;
    padding: 24px;
    background: #f9f9f9;
    border-radius: 5px;
  }

  .myPage_contents .side_column a {
    width: 100%;
    display: block;
    text-decoration: underline;
  }

  .myPage_contents .side_column a:hover {
    opacity: 0.7;
  }

  .myPage_contents .side_column a+a {
    margin-top: 8px;
  }
}

/* ------------------------------
- 掲示板 関連CSS
------------------------------ */
.msg_contents {
  margin: 40px 0;
}

.msg_contents .main_heading {
  text-align: center;
  margin-bottom: 24px;
}

.msg_contents .section .oneArea {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  max-width: 1024px;
  margin: 50px auto;
  padding: 0 10px;
}

.msg_contents .section .oneArea .onebox {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.msg_contents .section .oneArea .onebox-r {
  flex-direction: row-reverse;
  margin-top: 20px;
}

.msg_contents .section .oneArea .onebox-l .imgArea {
  width: 10%;
  position: relative;
  overflow: hidden;
}

.msg_contents .section .oneArea .onebox-l .imgArea img {
  max-width: 60px;
  height: 60px;
  border-radius: 50%;
}

.msg_contents .section .oneArea .onebox-r .imgArea {
  width: 10%;
  position: relative;
  overflow: hidden;
  text-align: right;
}

.msg_contents .section .oneArea .onebox-r .imgArea img {
  max-width: 60px;
  height: 60px;
  border-radius: 50%;
}

.msg_contents .section .oneArea .onebox .fukiArea {
  width: 63%;
}

.msg_contents .section .oneArea .onebox .fukidasi {
  width: 100%;
  position: relative;
  padding: 25px;
  background-color: #f2f3f7;
  font-size: 18px;
  color: #231815;
  border-radius: 12px;
  box-sizing: border-box;
}

.msg_contents .section .oneArea .onebox .fukidasi::before {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-radius: 50%;
  transform: rotate(45deg);
  top: 22px;
  border-right: 25px solid transparent;
  border-bottom: 25px solid transparent;
}

.msg_contents .section .oneArea .onebox .fukidasi::after {
  content: "";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-radius: 50%;
  transform: rotate(45deg);
  top: 40px;
  border-right: 25px solid transparent;
  border-bottom: 25px solid transparent;
}

.msg_contents .section .oneArea .onebox-l .fukidasi {
  background-color: #fde5e5;
}

.msg_contents .section .oneArea .onebox-l .fukidasi::before {
  right: auto;
  left: -15px;
  border-left: 25px solid #fde5e5;
  border-top: 25px solid transparent;
}

.msg_contents .section .oneArea .onebox-l .fukidasi::after {
  right: auto;
  left: -25px;
  border-left: 25px solid #fff;
  border-top: 25px solid transparent;
}

.msg_contents .section .oneArea .onebox-r .fukidasi::before {
  left: auto;
  right: -15px;
  border-left: 25px solid transparent;
  border-top: 25px solid #f2f3f7;
}

.msg_contents .section .oneArea .onebox-r .fukidasi::after {
  left: auto;
  right: -25px;
  border-left: 25px solid transparent;
  border-top: 25px solid #fff;
}

.msg_contents textarea {
  width: 100%;
  background: #f9f9f9;
  height: 160px;
  padding: 15px;
  font-size: 16px;
}

.msg_contents input[type="submit"] {
  color: white;
  background: #ff7761;
  padding: 1em 1.4em;
  font-size: 1.2em;
  border: none;
  border-radius: 10px;
  transition: all .3s ease-in-out;
  display: block;
  margin: 16px 0 0 0;
}

.msg_contents input[type="submit"]:hover {
  opacity: .7;
}

@media screen and (max-width: 1000px) {
  .msg_contents .section .oneArea .onebox .imgArea {
    width: 15%;
  }
}

@media screen and (max-width: 750px) {
  .msg_contents .section .oneArea .onebox .imgArea {
    width: 25%;
  }

  .msg_contents .section .oneArea .onebox-l .imgArea img {
    max-width: 70%;
    top: 0;
  }

  .msg_contents .section .oneArea .onebox-r .imgArea img {
    max-width: 70%;
    top: 0;
  }

  .msg_contents .section .oneArea .onebox .fukidasi {
    padding: 15px;
    font-size: 14px;
  }

  .msg_contents .section .oneArea .onebox .fukidasi::before {
    top: 8px;
  }

  .msg_contents .section .oneArea .onebox .fukidasi::after {
    top: 20px;
  }
}

@media screen and (max-width: 340px) {
  .msg_contents .section .oneArea .onebox .imgArea {
    width: 32%;
  }
}